<nav class="navbar navbar-expand-lg py-2 fixed-top">
    <div class="container">
        <a href="" class="navbar-brand">
            <div class="d-flex align-items-center gap-2">
                <img src="sakura.svg" alt="sakura-icon" class="p-0 m-0" height="35px" width="35px">
                <p class="p-0 m-0 fs-5">Jagua</p>
            </div>
        </a>

        <button class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navmenu-lection"
        >
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navmenu-lection">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a [href]="'lection/' + lection + '#vokabeln'" class="nav-link">Vokabeln</a>
                </li>
                <li class="nav-item">
                    <a [href]="'lection/' + lection + '#uebersetzungen'" class="nav-link">Übersetzungen</a>
                </li>
                <li class="nav-item">
                    <a [href]="'lection/' + lection + '#grammatik'" class="nav-link">Grammatik</a>
                </li>
                <!-- <li class="nav-item">
                    <a href="lection/#uebungen" class="nav-link">Übung</a>
                </li> -->
            </ul>
        </div>
    </div>
</nav>

<!-- Übersicht -->
<section>
    <div class="container lection-header">
        <div>
            <h1>Lektion {{lection}}</h1>
        </div>
    </div>
</section>



<!-- Vokabeln -->
<section class="vokabeln" id="vokabeln">
    <div class="container pt-4 pb-2">
        <h2>I. Vokabeln</h2>
        <div class="d-flex justify-content-center d-md-flex justify-content-md-start">
            <app-vocabulary></app-vocabulary>
        </div>
    </div>
</section>

<section class="uebersetzungen" id="uebersetzungen">
    <div class="container pt-4 pb-4">
        <h2>II. Übersetzungen</h2>

        <div class="accordion accordion-flush" id="accordionFlushExample">
            <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="true" aria-controls="flush-collapseOne">
                    <h5>Satzmuster</h5>
                </button>
            </h2>
            <div id="flush-collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body"><app-pattern [patterns]="pattern"></app-pattern></div>
            </div>
            </div>
            <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                    <h5>Beispielsätze</h5>
                </button>
            </h2>
            <div id="flush-collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body"><app-example [examples]="examples"></app-example></div>
            </div>
            </div>
            <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                <h5>Dialog</h5>
                </button>
            </h2>
            <div id="flush-collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body"><app-dialogue [dialogue]="dialogue"></app-dialogue></div>
            </div>
            </div>
        </div>
    </div>
</section>

<!-- Grammatik -->
<section class="grammatik" id="grammatik">
    <div class="container pt-4 pb-4">
        <h2>III. Grammatik</h2>
        <app-grammar></app-grammar>
    </div>
</section>

<!-- Übungen -->
<!-- <section class="uebungen" id="uebungen">
    <div class="container pt-4">
        <h2>IV. Übungen</h2>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Omnis, blanditiis ducimus assumenda totam quaerat corporis, quam rem autem deleniti asperiores dolorum sint? Suscipit ipsum sapiente repellendus corporis dolorem ad provident aspernatur sed doloribus quasi, illum, libero quod earum dolores eos minus vitae sit? Quasi sapiente accusamus natus corrupti incidunt in nobis nulla tempora, facere culpa. Inventore vel, nisi animi, autem id eum, saepe nobis sapiente eaque a veniam molestiae perspiciatis aut fuga cumque ipsam impedit dolorem? Ipsa hic in officiis aliquid fugiat veritatis aliquam, nemo adipisci. Vero, recusandae odio architecto aliquam qui saepe aspernatur nam unde aut sint sequi nisi.
    </div>
</section> -->

<!-- Footer -->
<footer class="p-1 text-center position-relative footer">
    <div class="container">
        <p class="lead m-0">Copyright &copy; 2024 Jagua</p>
    </div>
</footer>