<div class="background"></div>

<nav class="navbar navbar-expand-lg py-2 fixed-top">
    <div class="container">
        <a href="" class="navbar-brand">
            <div class="d-flex align-items-center gap-2">
                <img src="sakura.svg" alt="sakura-icon" class="p-0 m-0" height="35px" width="35px">
                <p class="p-0 m-0 fs-5">Jagua</p>
            </div>
        </a>
    </div>
</nav>

<!-- <section>
    <div class="container overview">
        <div class="overview-item">
            <h3>Lection 1</h3>
        </div>
        <div class="overview-item">
            <h3>Lection 2</h3>
        </div>
        <div class="overview-item">
            <h3>Lection 3</h3>
        </div>
        <div class="overview-item">
            <h3>Lection 4</h3>
        </div>
    </div>
</section> -->


<section>
    <div class="container overview">
        <div class="list-group overview-item">
            <a routerLink="/lection/1" class="list-group-item list-group-item-action" aria-current="true">
              <div>
                <h4>Lektion 1: Darf ich mich vorstellen?</h4>
                <div class="d-flex flex-wrap gap-2 badges">
                    <h5><span class="badge">は</span></h5>
                    <h5><span class="badge">です</span></h5>
                    <h5><span class="badge">じゃ ありません</span></h5>
                    <h5><span class="badge">ですか</span></h5>
                    <h5><span class="badge">も</span></h5>
                </div>
              </div>
            </a>
            <a routerLink="/lection/2" class="list-group-item list-group-item-action">
                <div>
                    <h4>Lektion 2: Vielen Dank im Voraus für Ihre Hilfe!</h4>
                    <div class="d-flex flex-wrap gap-2 badges">
                        <h5><span class="badge">それ</span></h5>
                        <h5><span class="badge">これ</span></h5>
                        <h5><span class="badge">あれ</span></h5>
                        <h5><span class="badge">その</span></h5>
                        <h5><span class="badge">この</span></h5>
                        <h5><span class="badge">あの</span></h5>
                        <h5><span class="badge">そです</span></h5>
                        <h5><span class="badge">そですか</span></h5>
                        <h5><span class="badge">か</span></h5>
                        <h5><span class="badge">の</span></h5>
                        <h5><span class="badge">お</span></h5>
                    </div>
                  </div>
            </a>
            <a href="#" class="list-group-item list-group-item-action disabled">
                <div>
                    <h4>Lektion 3: Geben Sie mir bitte davon!</h4>
                    <div class="d-flex flex-wrap gap-2 badges">
                        <h5><span class="badge">ここ</span></h5>
                        <h5><span class="badge">そこ</span></h5>
                        <h5><span class="badge">あそこ</span></h5>
                        <h5><span class="badge">こちら</span></h5>
                        <h5><span class="badge">どこ</span></h5>
                        <h5><span class="badge">どちら</span></h5>
                        <h5><span class="badge">の</span></h5>
                    </div>
                  </div>
            </a>
            <a href="#" class="list-group-item list-group-item-action disabled">
                <div>
                    <h4>Lektion 4: Bis wann habe Sie geöffnet?</h4>
                    <div class="d-flex flex-wrap gap-2 badges">
                        <h5><span class="badge">いま</span></h5>
                        <h5><span class="badge">じ</span></h5>
                        <h5><span class="badge">ふん</span></h5>
                        <h5><span class="badge">ます</span></h5>
                        <h5><span class="badge">ません</span></h5>
                        <h5><span class="badge">ました</span></h5>
                        <h5><span class="badge">ませんでした</span></h5>
                        <h5><span class="badge">に</span></h5>
                        <h5><span class="badge">から</span></h5>
                        <h5><span class="badge">まで</span></h5>
                        <h5><span class="badge">と</span></h5>
                        <h5><span class="badge">ね</span></h5>
                    </div>
                  </div>
            </a>
            <a class="list-group-item list-group-item-action disabled" aria-disabled="true">
                <div>
                    <h4>Lektion 5: Fährt dieser Zug nach Kōshien?</h4>
                    <div class="d-flex flex-wrap gap-2 badges">
                        <h5><span class="badge">へ</span></h5>
                        <h5><span class="badge">いきます</span></h5>
                        <h5><span class="badge">も</span></h5>
                        <h5><span class="badge">で</span></h5>
                        <h5><span class="badge">ど</span></h5>
                        <h5><span class="badge">いつ</span></h5>
                        <h5><span class="badge">よ</span></h5>
                        <h5><span class="badge">そうですね</span></h5>
                    </div>
                  </div>
            </a>
            <a class="list-group-item list-group-item-action disabled" aria-disabled="true">
                <div>
                    <h4>Lektion 6: Wollen Sie nicht mit uns hingehen?</h4>
                    <div class="d-flex flex-wrap gap-2 badges">
                        <h5><span class="badge">を</span></h5>
                        <h5><span class="badge">なん</span></h5>
                        <h5><span class="badge">なに</span></h5>
                        <h5><span class="badge">で</span></h5>
                        <h5><span class="badge">ませんか</span></h5>
                        <h5><span class="badge">ましょう</span></h5>
                        <h5><span class="badge">か</span></h5>
                    </div>
                  </div>
            </a>
        </div>
    </div>
</section>

<!-- Footer -->
<footer class="p-1 text-center footer">
    <div class="container">
        <p class="lead m-0">Copyright &copy; 2024 Jagua</p>
    </div>
</footer>