<ol>
    <li>
        <div class="d-flex w-50 justify-content-between">
            <div>
                <p>Sind Sie Herr (Mike) Miller?</p>
                <p>...Ja, ich bin Mike Miller.</p>
            </div>
            <div>
                <p>[あなたは] マイク・ミラーさんですか。</p>
                <p>...はい、[わたしは] マイク・ミラーです。</p>
            </div>
        </div>
    </li>
    <li>
        <div class="d-flex w-50 justify-content-between">
            <div>
                <p>Sind Sie Student (Herr Miller)?</p>
                <p>...Nein, ich bin kein Student.</p>
            </div>
            <div>
                <p>ミラーさんは 学生ですか。</p>
                <p>...いいえ、 [わたしは] 学生じゃ ありません。</p>
            </div>
        </div>
    </li>
</ol>