<ol>
  @for(example of examples; track $index) {
    <li class="p-1">
        <div class="examples">
            <div class="d-flex justify-content-between align-items-end">
                <p class="m-0">{{ example.question.word_de }}</p>
                <app-sentence [word_jp]="example.question.word_jp" [kanji]="example.question.kanji"></app-sentence>
            </div>
            <div class="d-flex justify-content-between align-items-end">
                <p class="m-0">{{ example.answer.word_de }}</p>
                <app-sentence [word_jp]="example.answer.word_jp" [kanji]="example.answer.kanji"></app-sentence>
            </div>
        </div>

    </li>
  }
</ol>